h1{ 
    color: lightgreen;
}

h3 {
    color: blue;
}

 P{
     color: red;
 }

 .main{
    text-align: center;
    border:5px solid black;
    border-radius: 2ch;
    background-color: gray; 
    }

.statement{
        width: 33%;
        border-radius: 2ch;
        margin-left: auto;
        background-color: lightgrey;
                      
    }

.flex{
    display: flex;
}

